body {
    background-color: #f3f3f3;
}

.container {
    background-color: white;
}

div.page_header img {
    float:right;
    margin: 0.5em 0 1em 1em;
    max-width: 400px;
    max-height: 400px;
}
.clear {
    clear:both;
}

.glyphicon-star, .glyphicon-star-empty {
    color:orange;
    font-size: 14px;
    overflow:hidden;
}

span.my-rating {
    color: #009933;
}

.small-star, .small-star .glyphicon-star, .small-star .glyphicon-star-empty {
    font-size: 10px;
}


td.nowrap, span.nowrap {
    white-space: nowrap;
}

a.add_logo:before {
    padding-right: 2px;
    vertical-align: sub;
}

a.logos_com:before, a.logos_desktop:before, a.logo_logos4:before, a.app:before {
    content: url('../images/logo_logos.png');
}

a.logo_logos5:before {
    content: url('../images/logo_logos5.png');
}

a.vyrso:before {
    content: url('../images/logo_vyrso.png');
}

a.faithlife:before {
    content: url('../images/logo_faithlife.png');
}

a.biblia:before, a.logo_internet:before, a.logo_internettrusted:before {
    content: url('../images/logo_biblia.png');
}

a.logo_ldls3:before {
    content: url('../images/logo_libronix.png');
}

a.logo_proclaim:before {
    content: url('../images/logo_proclaim.png');
}

span.label a {
    color:white;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

#wrap > .container {
    margin-top: 50px;
}
#wrap > .container {
    -webkit-box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.5);
}

/* Footer */

#footer {
    margin-left : -15px;
    clear:both;
}

#footer .container{
  background-color: #006cb5;
  padding: 3px 6px;
  border-top: 15px solid white;
}

#footer table {
  margin: 0;
  text-align:center;
  color: white;
  font-size: 12px;
}


/* Navbar */
.navbar-default {
    background-color: #006cb5;
    margin-bottom: 0;
    border-bottom: none;
}

.navbar-default div.container {
	padding-right: 0;
}

.navbar-default #search {
	 width:400px;
	 float:right;
}

.navbar-default .navbar-brand {
    color: #f3f3f3;
    padding: 14px 15px;
}

.navbar-default .navbar-brand:hover{
    color: #006cb5;
    background-color: #f3f3f3;
}

.navbar-default .container{
    background-color: inherit;
    padding-top: 0;
    padding-left: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #f3f3f3;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #006cb5;
    background-color: #f3f3f3;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
    background-color: white;
    font-weight: bold;
}

.navbar-default ul.navbar-right > .active > a, .navbar-default ul.navbar-right > .active > a:hover {
    background-color: #f3f3f3;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

/* Jumbotron */
.jumbotron h1 {
    margin-top: 0;
    margin-bottom: 30px;
}

.jumbotron li {
    line-height: 1.4;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* My Profile */
body#my-profile .jumbotron {
    margin-top: 1em;
}
body#my-profile table#main-stats tr {
    border-top: 1px solid #f3f3f3;
}

body#my-profile table#main-stats th {
    white-space: nowrap;
    vertical-align: top;
    padding-right: 0.5em;
}
body#my-profile table#main-stats th, body#my-profile table#main-stats td {
    padding-top: 5px;
    padding-bottom: 5px;
}
body#my-profile table#main-stats p.highest-rated {
    margin-top:0.5em;
    margin-bottom:0;
}

/* Login and register */
body#sign-in, body#register {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

body#sign-in #wrap > .container, body#register #wrap > .container {
    box-shadow: none;
    -webkit-box-shadow: none;
}

body#sign-in #footer, body#register #footer {
    display: none;
}

body#sign-in .form-signin, body#register .form-register, body#sign-in p {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

body#sign-in .form-signin .form-signin-heading, body#sign-in .form-signin .form-signin-heading, body#register .form-register input[name="faithlife"] {
  margin-bottom: 10px;
}

body#register .form-register input[name="faithlife"] {
    font-size: 12px;
}

body#sign-in .form-signin .checkbox {
    margin-top: 10px;
}

body#sign-in .form-signin .checkbox, body#register .form-register .checkbox {
  font-weight: normal;
}

body#sign-in .form-signin .form-control, body#register .form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body#sign-in .form-signin .form-control:focus, body#register .form-register .form-control:focus {
  z-index: 2;
}
body#sign-in .form-signin input[name="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
body#sign-in .form-signin input[name="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
body#sign-in .container, body#register .container {
    background: inherit;
    text-align:center;
}
body#sign-in h1, body#register h1 {
    margin-top: 2em;
}
body#register .form-register input[name="name"], body#register .form-register input[name="email"], body#register .form-register input[name="password"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
body#register .form-register input[name="faithlife"], body#register .form-register input[name="email"], body#register .form-register input[name="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

body#sign-in .form-signin .checkbox input[type="checkbox"], body#register .form-register .checkbox input[type="checkbox"] {
    float:none;
    vertical-align: top;
    margin-right: 0.5em;
}

body#register .warning {
    background-color: #FFFFCC;
    padding: 15px;
    border-radius: 6px;
    font-size: 15px;
    max-width: 300px;
    margin: 20px auto 10px auto;
}

/*Upload Library */
#upload-library h1 {
    font-size: 50px;
}
#upload-library p, #upload-library ul {
    font-size: 16px;
}

#upload-library p.settings {
    font-size: 14px;
    vertical-align:middle;
    min-height: 22px;
}

#upload-library p.settings input {
    margin-right: 0.5em;
    margin-left: 2em;
}

#upload-library p.settings #settings {
    display:none;
}

#upload-library .fileinput-button {
  position: relative;
  overflow: hidden;
}
#upload-library .fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  #upload-library .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

#upload-library .progress-bar {
    font-size: 10px;
    text-align: left;
    background-color:#5cb85c;
}

#upload-library .processing {
    height: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    display:none;
    overflow:hidden;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

#upload-library .processing .processing-bar {
    width: 50%;
    background-color: #FFFF66;
    height: 20px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

/* Subhead Table */
table.subhead {
    margin-bottom: 1em;
}
table.subhead th, table.subhead td {
    vertical-align:top;
}
table.subhead th {
    padding-right: 0.5em;
    white-space: nowrap;
}

table.subhead span.extras {
    display:none;
}

/* Resource Page */
body#resource-page div.page_header img {
    height: 256px;
    width: 171px;
}

body#all-resources ul.pagination {
    float:right;
}

/* Resources Table */
table.resources {
    width: 100%;
    font-size: 0.9em;
}

table.resources th {
    padding: 3px 6px;
    vertical-align: bottom;
    border-bottom: 1px solid #CCE6FF;
}

table.resources td {
    padding: 3px 6px;
    vertical-align: top;
    border-bottom: 1px solid #CCE6FF;
    border-top: 1px solid #CCE6FF;
}
table.resources td.dataset {
    display:none;
}
table.resources td.owned, table.resources td.dataset-owned {
    background-color: #FFFFCC;
}
table.resources.table-hover > tbody > tr:hover > td.owned {
    background-color: #FFFFCC;
}
table.resources td.rating {
    white-space: nowrap;
    font-size: 13px;
}

table.shelf-small {
    width: 100%;
}

table.shelf-small td, tr.shelf-small td, td.shelf-small {
    height: 90px;
    max-height: 90px;
    -webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: content-box;    /* Firefox, other Gecko */
    box-sizing: content-box;         /* Opera/IE 8+ */
    background-image: url('../images/shelf_small.png');
    background-position: top;
    vertical-align:bottom;
    padding: 0;
}

body#my-profile table#main-stats tr.shelf-small td, body#my-profile table#main-stats td.shelf-small {
    padding: 0;
}

table.shelf-small img, tr.shelf-small td img, td.shelf-small img {
    margin: 11px 6px 4px 6px;
    -webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: content-box;    /* Firefox, other Gecko */
    box-sizing: content-box;         /* Opera/IE 8+ */
    box-shadow: 4px 0 4px rgba(0, 0, 0, 0.5);
    display: inline-table;
    font-size: 8px;
    color: white;
}

tr.shelf td, td.shelf {
    background-image: url('../images/shelf.png');
    background-repeat: repeat-x;
}

/* All Records */
body#all-records table#main-stats th {
    display:none;
}
table#all-records {
    width: 100%;
}
table#all-records td {
    vertical-align: top;
}
table#all-records td.columns_1 {
    width: 100%;
}
table#all-records td.columns_2 {
    width: 50%;
}
table#all-records td.columns_3 {
    width: 33%;
}
table#all-records td.columns_4 {
    width: 25%;
}

